@import "compass/reset";

html{height: 100%;min-height:900px;}

body{
	height: 100%;
	background: rgb(129, 125, 114);
	font-family: Roboto;
	font-weight:100;
	color:#fff;
}

.wrapper{
	height:100%;
	background-size: cover;
	background-repeat: no-repeat;
	min-width: 1780px;
	margin:0 auto;
	position:relative;

	a{
		display:block;
		color:white;
		text-decoration:none;
	}
}

.main_text{
	position: absolute;
	top:360px;
	right: 370px;
    font-size: 48px;
    width: 580px;
    line-height: 1.4;
	b{font-weight:700;margin-top: 40px;display: block;}
	p{font-size: 23px;}
}

.fix_menu{
	position:absolute;
	background-color: rgba(0, 0, 0, 0.3);
	height: 100%;
	font-size: 18px;
	width:320px;
	top:0;
   	bottom:0;
    right:0;
    overflow-y:auto;

	ul{
		padding: 40px;
		position: relative;
	}

	li{
		margin-bottom: 15px;
		border-bottom: 1px solid transparent;

		&:hover{
			border-bottom: 1px solid #fff;
			cursor:pointer;
		}

		a{
			line-height:40px;
		}
	}
	.active_li{
	border-bottom: 1px solid #fff;
}

}

.second_page{
	.main_text{
		width: 660px;
		top:140px;
		b{margin-top:0; display:initial;}

		li{
			font-size: 22px;
			list-style:initial;
			margin-left: 21px;
		}
	}
	h1{
		padding-bottom: 20px;
	}
	h2{
		font-size: 26px;
		margin-top: 50px;
	}
	p{
		margin-top: 40px;
	}
}

.lesenswert{
	h1{padding:0;}
	a{font-size: 22px; background:url('../imgs/pdf_download.png');background-repeat:no-repeat;padding-left: 80px;font-style:italic; padding-bottom:10px;border-bottom:1px solid transparent;margin-top: 20px;min-height:58px;}
	a:hover{border-bottom:1px #fff solid;}
}

.content{
      height: 550px;
}

.mCustomScrollbar .mCSB_scrollTools{ 
  right: auto;
}

.mCustomScrollbar .mCSB_inside > .mCSB_container{ 
  margin-right: 0;
  margin-left: 120px;
}

.mCSB_scrollTools .mCSB_draggerRail{
	background-color:white;
	width:1px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background-color:white;
	border-radius: 0;
}

#mCSB_2_dragger_vertical{
	height:215px;
}

.mCustomScrollbar{
	a{
	min-height: 120px;
    background-position: bottom left;
    padding-bottom: 10px;
    background-position-y: 80%;
    margin-bottom: 30px;
	}
	h2{
		font-style: normal;
		text-align: left;
		position: relative;
    	left: -80px;
	}
}

.scroll_page{
	.main_text{
    	width: 800px;
    }
    h1{
		padding-left: 120px;
		margin-bottom: 50px;
    }
    .first_p{margin:0;}
}